@font-face {
  font-family: "Reservation";
  src: url('../assets/fonts/BAD_GRUNGE.ttf');
}

body {
	background-color: rgb(40, 42, 54);
}

footer {
  background-color: rgb(52, 55, 70);
}

h1, p, a, li {
  color: rgb(255, 255, 255);
  font-family:Georgia, serif;
  text-decoration: none;
}

p, a {
  font-size: 2vw;
}

#banner {
  background-color: #cc3355;
}

li {
  list-style: none;
  height: 1cm;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;
}

#time {
  font-family: 'Courier New', Courier, monospace;
}

tbody tr:nth-child(odd) {
  background-color: #343746;
}

tbody tr:nth-child(even) {
  background-color: #21222c;
}

td {
  padding-left: 2vw;
  text-align: left;
}

table {
  background-color: #191a21;
  width:80vw;
}

a {
  text-decoration:none;
}

a:hover {
  color:#cc3355;
}

#article-region {
  width: 80vw;
  height: 920px;
  border-color: #282a36;
}

.tag {
  padding: 0.8vw;
  margin: 0.2vw;
  background-color: #cc3355;
  border-radius:0.8vw;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5vw;
}

.tag:hover {
  background-color:tomato;
}

.banner-text {
  font-family: 'Reservation';
  font-size: 6vw;
  font-weight:lighter;
  font-stretch: expanded;
  letter-spacing: 0.8vw;
}