@font-face {
  font-family: "Reservation";
  src: url('../assets/fonts/BAD_GRUNGE.ttf');
}

@font-face {
  font-family: 'TypeWriter';
  src: url('../assets/fonts/JMH\ Typewriter-Thin.otf');
}

body {
	background-color: rgb(40, 42, 54);
}

footer {
  background-color: rgb(52, 55, 70);
}

p, a, li, h2 {
  color: rgb(255, 255, 255);
  font-family:'TypeWriter';
  text-decoration: none;
}

#banner {
  background-color: #cc3355;
}

a {
  text-decoration:none;
}

a:hover {
  color:#cc3355;
}

.tag {
  padding: 0.8vmin;
  margin-right: 0.8vmin;
  font-family: 'TypeWriter';
  background-color: #cc3355;
  border-radius:0.8vmin;
  color: white;
  font-size: 2.0vmin;
}

.tag:hover {
  background-color:whitesmoke;
}

.banner-text {
  font-family: 'Reservation';
  font-size: 8vmin;
  font-weight:lighter;
  font-stretch: expanded;
  letter-spacing: 0.8vmin;
  color: white;
}

ul {
  padding: 0;
}

li {
  border-left: 1vmin solid #cc3355;
  list-style: none;
  margin-top: 3vmin;
}

h2 {
  margin: 2vmin;
  font-size: 4vmin;
}

.item {
  width: 80vmin;
  height: auto;
  background-color: #343746;
  box-shadow: 0vmin 1vmin 0px #21222c;
  padding: 1vmin;
}

.ititle {
  display: block;
  text-align: left;
  font-size: 3vmin;
  margin: 2vmin;
  border-style: solid;
  border-color: transparent;
}

.itags {
  border-style: solid;
  border-color: transparent;
  text-align: left;
  margin: 2vmin;
}

.idate {
  text-align: left;
  margin: 2vmin;
  border-style: solid;
  border-color: transparent;
}

.idesc {
  margin: 2vmin;
  text-align: left;
  font-size: 2vmin;
}

.text2 {
  font-family: 'TypeWriter';
  font-size: 2vmin;
  margin: 1vmin 1vmin 0 0;
}

.text3 {
  font-family: 'TypeWriter';
  font-size: 2vmin;
  margin-right: 4vmin;
}

.text4 {
  font-family: 'TypeWriter';
  font-size: 2vmin;
}